

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 75vw;
    margin: auto;
    background-image: url('../img/yellow.png');
    background-repeat: repeat;
}
body {
    border: 1px solid black;
}




textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.top{
    display: flex;
    justify-content: space-around;

}
.myName{
    width: 48%;
    font-size: 1.4em;
    padding: .3em;
    margin: .3em;
    border: 1px solid black;
    float: left;
}
.nav{
    width: 48%;
    display: flex;
    justify-content: space-around;
}

.nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.nav > ul > li {
    font-size: 1.2em;
    padding: .4em;
    margin: .4em;
    border: 1px solid black;
    float: left;
}

.clearfix:after {
    clear: both;
}


.exp--container--top{
    display: flex;
    justify-content: space-around;
}


/* budki doświadczenia ==================================================================================================== */
.exp--html{
    width: 180px;
    height: 220px;
    border: 1px solid black;
    font-size: ;
}

.exp--react{
    width: 180px;
    height: 220px;
    border: 1px solid black;
}

.exp--js{
    width: 180px;
    height: 220px;
    border: 1px solid black;
}
.exp--css{
    width: 180px;
    height: 220px;
    border: 1px solid black;
}

.ico{
    text-align: center;
    height: 130px;
    font-size: 6em;
}

.exp--text{
    text-align: center;
    font-size: 1.1em;
}

.about-desc{
    width: 420px;
    margin: 0 150px 0 150px;
    font-size: 1.3em;
}

.quote {
    font-size: 0.9em;
}




@media screen and (max-width: 600px) {
    body {
        margin: 0;
        text-align: center;
        font-size: 1em;
    }

    .myName, .nav .nav > ul, .nav > ul > li {
        margin: 0;
        padding: 0;
        float: none;
    }

    .myName{
        font-size: 2.3em;
        display: inline;
        float: none;
    }

    .nav{
        float: none;
        text-align: center;
        width: 100vw;
        padding: .1em;
        font-size: 1.7em;
        display: inline;
    }
    .top {
        margin: auto;
    }

    .exp--container--top{
        display: inline;
    }

    .experience{
        width: 180px;
        margin: auto;
    }


}

@media screen and (min-width: 601px) and (max-width: 1152px){
    .body{
        margin: 0;
        text-align: center;
        font-size: 1em;
    }

    .myName {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 1.6em;
    }

    .nav{
        width: 100%;
    }

    .nav > ul {
        display: flex;
        justify-content: center;
    }

    .top{
        width: 100%;
        padding: 0;
    }
}
